<ng-container *ngIf="displaySingle; then single; else many"></ng-container>
<ng-template #single>
    <app-single-domes-pokemon [pokemon]="pokemon" [displaySingle]="displaySingle" (closeSingle)="closeSingle($event)"></app-single-domes-pokemon>
</ng-template>
<ng-template #many>
    <div id="pokemon-domesticated-list">
        <div *ngFor="let pokemon of domesticatedList" class="pokemon-wrapper" [ngClass]="pokemon.hidden ? 'hidden' : ''">
            <button type="button" (click)="displaySigle(pokemon);">
                <img src="assets/img/{{pokemon.pokemonid}}.png" alt="{{pokemon.name}}">
            </button>
            <p *ngIf="pokemon.nickname; else elseBlock">{{pokemon.nickname}}</p>
            <ng-template #elseBlock>
                <p>{{pokemon.name}}</p>
            </ng-template>
        </div>
    </div>
</ng-template>
