input {
    opacity: 0;
    display: none;
}

label {
    display: block;
    width: 215px;
    height: 215px;
}

div#pokemon-viewer{
    width: 717px;
    height: 468px;
    overflow-x: hidden;
    overflow-y: auto;
}

div#pokemon-opponent-list{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}


div.pokemon-wrapper {
    display: inline-block;
    border: 2px transparent solid;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.p-selected{
    border: 2px black solid;
}
