<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">CP</th>
            <th scope="col">HP</th>
            <th scope="colgroup" colspan="3">Fast Attack</th>
            <th scope="colgroup" colspan="3">Charged Attack</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of domesticatedList" class="pokemon-wrapper" [ngClass]="pokemon.hidden ? 'hidden' : ''">
            <td>{{pokemon.pokemonid}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.cp}}</td>
            <td>{{pokemon.hp}}</td>
            <td>{{pokemon.fastattack.type}}</td>
            <td>{{pokemon.fastattack.name}}</td>
            <td>{{pokemon.fastattack.damage}}</td>
            <td>{{pokemon.chargedattack.type}}</td>
            <td>{{pokemon.chargedattack.name}}</td>
            <td>{{pokemon.chargedattack.damage}}</td>
        </tr>
    </tbody>
</table>
