div#pokemon-domesticated-list{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

div.pokemon-wrapper{
    display: flex;
    flex-direction: column;
    border: 2px transparent solid;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.pokemon-wrapper > img{
    order: 1;
}

div.pokemon-wrapper > p{
    order: 2;
    text-align: center;
    text-transform: capitalize;
}

div.pokemon-types{
    order: 3;
    margin: 0 auto;
    width: auto;    
}

div.pokemon-stats{
    order: 4;
}

div.pokemon-attacks{
    order: 5;
    display: flex;
    flex-direction: row;
}

div.pokemon-attack > div:first-child{
    order: 1;
}

div.pokemon-attack > div:nth-child(2){
    order: 2;
}


div.pokemon-controls{
    order: 6;
    margin: 0 auto;
    width: 62px;
    height: 24px;
}

div.pokemon-controls button{
    background-color: transparent;
    border: none;
    color: black;
}
