<div id="pokemon-domesticated-list">
    <div *ngFor="let pokemon of domesticatedList" class="pokemon-wrapper">
        <img src="assets/img/{{pokemon.pokemonid}}.png" alt="{{getPokemonName(pokemon.pokemonid)}}">
        <p *ngIf="pokemon.nickname; else elseBlock">{{pokemon.nickname}}</p>
        <ng-template #elseBlock>
            <p>{{getPokemonName(pokemon.pokemonid)}}</p>
        </ng-template>
        <div class="pokemon-types">
            <img *ngFor="let img of getPokemonType(pokemon.pokemonid)" src="assets/img/{{img}}.png" alt="{{img}}" class="type-badges">
        </div>
        <div class="pokemon-stats">
            <span class="label">CP: </span><span class="value"> {{pokemon.cp}} </span>
            <span class="label">HP: </span><span class="value"> {{pokemon.hp}} </span>
        </div>
        <div class="pokemon-attacks">
            <div>
                <p>FA</p>
                <img src="assets/img/{{pokemon.fastattack.type}}.png" alt="{{pokemon.fastattack.type}}" class="type-badges">
                <span *ngIf="pokemon.fastattack.name"> {{pokemon.fastattack.name}} </span>
                <span>{{pokemon.fastattack.damage}}</span>
            </div>
            <div>
                <p>CA</p>
                <img src="assets/img/{{pokemon.chargedattack.type}}.png" alt="{{pokemon.chargedattack.type}}" class="type-badges">
                <span *ngIf="pokemon.chargedattack.name"> {{pokemon.chargedattack.name}} </span>
                <span>{{pokemon.chargedattack.damage}}</span>
            </div>
        </div>
        <div class="pokemon-controls">
            <button type="button" data-type="edit" (click)="edit(pokemon);"><i class="fas fa-pen"></i></button>
            <button type="button" data-type="delete" (click)="del(pokemon);"><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
</div>
