div#single-whole{
    width: 100%;
    height: 100%;
}

div#single-wrapper{
    width: 225px;
    height: 520px;
    margin: auto;
}

img.pokemon{
    width: 215px;
    height: 215px;
    margin: auto;
}

div.pokemon-types {
    text-align: center;
}

div.pokemon-stats{
    position: relative;
    height: 34px;
}

div.pokemon-stats > div:first-child{
    position: absolute;
    left: 0;
    top: 5px;
}
div.pokemon-stats > div:last-child{
    position: absolute;
    right: 0;
    top: 5px;
}


p {
    text-align: center;
}
div.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
img.type-badges{
    order: 1;
    width: 36px;
}

div.name {
    order: 2;
    flex-grow: 1;
    text-align: center;
    text-transform: capitalize;
}

div.damage {
    order: 3;
    width: 36px;
}




div.pokemon-controls{
    order: 6;
    margin: 0 auto;
    width: 62px;
    height: 24px;
}

div.pokemon-controls button{
    background-color: transparent;
    border: none;
    color: black;
}

span.label {
    font-weight: bolder;
}
span {
    text-transform: capitalize;
}
