<div id="single-whole">
    <div id="single-wrapper">
        <img class="pokemon" src="assets/img/{{pokemon.pokemonid}}.png" alt="{{getPokemonName(pokemon.pokemonid)}}">
        <div class="pokemon-types">
            <img *ngFor="let img of getPokemonType(pokemon.pokemonid)" src="assets/img/{{img}}.png" alt="{{img}}" class="type-badges">
        </div>
        <div class="pokemon-stats">
            <div>
                <span class="label">CP: </span><span class="value"> {{pokemon.cp}} </span>
            </div>
            <div>
                <span class="label">HP: </span><span class="value"> {{pokemon.hp}} </span>
            </div>
        </div>
        <div class="pokemon-attacks">
            <p>Fast Attack</p>
            <div class="row">
                <img src="assets/img/{{pokemon.fastattack.type}}.png" alt="{{pokemon.fastattack.type}}" class="type-badges">
                <div class="name">{{pokemon.fastattack.name}}</div>
                <div class="damage">{{pokemon.fastattack.damage}}</div>
            </div>
            <p>Charged Attack</p>
            <div class="row">
                <img src="assets/img/{{pokemon.chargedattack.type}}.png" alt="{{pokemon.chargedattack.type}}" class="type-badges">
                <div class="name">{{pokemon.chargedattack.name}}</div>
                <div class="damage">{{pokemon.chargedattack.damage}}</div>
            </div>
        </div>
        <div class="pokemon-controls">
            <button type="button" (click)="edit(pokemon);"><i class="fas fa-pen"></i></button>
            <button type="button" (click)="del(pokemon);"><i class="far fa-trash-alt"></i></button>
            <button type="button" (click)="close();" class="btn btn-dark">Close</button>
        </div>
    </div>
</div>
